# Database Settings
DB_HOST=127.0.0.1
DB_NAME=shift_management
DB_USER=root
DB_PASSWORD=

# Other Settings
BASE_PATH=/shift_management

# Mail Settings (Optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=tls
FROM_EMAIL=
FROM_NAME=Shift Management System
